@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}


.navbar-nav {
  position: relative;
  top: -10px;

  background: #ffffff;
  border-radius: 6px;
  padding: 10px;
}

.nav-link {
  font-size: 1.2rem;
  z-index: 2;
}

@media screen and (min-width: 992px) {
  .navbar-brand {
    position: relative;
    right: -100px;
  }
}

@media screen and (max-width: 992px) {
  .navbar-brand-container {
    display: flex !important;
    justify-content: center !important;
  }
}

.navbar-toggler {
  position: absolute;
  top: 24px;
  left: 10px;
}

.brand-container {
  font-weight: 600;
}

.brand-part1 {
  font-size: 2.5rem;
}

.brand-part2 {
  font-size: 2.5rem;
  position: relative;
  right: 12px;
}

.brand-part3 {
  position: relative;
  top: 16px;
  right: 6px;
}

.nav-buttons {
  position: absolute;
  top: 30px;
  right: 10px;
}

.glass,
.heart,
.user {
  width: 20px;
  border: none !important;
  transition: 0.4s;
}

.glass:hover,
.heart:hover,
.user:hover {
  opacity: 0.7;
}

.btn {
  padding: 0;
  margin-inline: 6px;
}


.background {
  width: 100%;
  height: 670px;
  position: absolute;
  top: 90px;
  z-index: -20;

  background-image: url(./images/house.png);
  background-repeat: no-repeat;
}

.about-housing {
  position: absolute;
  top: 80px;
}

.housing-adress {
  background: white;
  border-radius: 2px;
  width: 300px;

  font-size: 0.8rem;
  padding: 10px;
}

.housing-name {
  color: white;
  font-size: 3rem;

  margin-bottom: 14px;
}

.metro-station {
  background: white;
  border-radius: 2px;
  width: 150px;

  padding: 10px;
}

.metro-station-dot {
  width: 10px;
  height: 10px;

  position: relative;
  top: 4px;
}

.metro-station-name {
  margin-bottom: 0;
  margin-left: 14px;

  font-size: 0.8rem;
}

.form-btns {
  position: relative;
  top: 200px;
}

.find-apartment {
  background: #e86500;
  color: white;
  padding: 18px;
}

.find-apartment:hover {
  background: #e8650077;
  color: white;
}

.more {
  background: #233b51;
  color: white;
  padding: 18px;
}

.more:hover {
  background: #233b5177;
  color: white;
}

.form-input {
  background: #ffffff;
  position: relative;
  top: 210px;
}

.form-name {
  padding: 10px;
  font-size: 0.8rem;
}

.input {
  width: 100%;
  position: absolute;
  bottom: 0;
  border: none;
  padding: 20px;
}

.about-company {
  position: absolute;
  top: 850px;
  display: none;
}

.contacts {
  width: 100%;
  position: absolute;
  top: 1100px;
}

.card {
  border: none;
}

@media screen and (max-width: 992px) {
  .card {
    width: 100% !important;
    display: flex !important;
  }

  .card-body {
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
  }

  .card-img-top {
    display: none;
  }

  .card-text {
    margin-inline: 10px;
    font-size: 0.8rem;
  }

  .card-title {
    font-size: 1rem;
  }
}

.card-body,
.card-img-top {
  background: #fafafa;
}

.card-title {
  color: #000;
}

.card-text {
  color: #636363;
}

.feedback {
  width: 100%;
  position: absolute;
  top: 1600px;
}

.inputs {
  border: #d2d2d2 solid 1px;
}

label {
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 500;
}

.error {
  color: #ff0000;
  font-size: 0.8rem;
  padding: 6px;
}

.input-inner {
  border: none;
  width: 100%;
  padding: 10px;
  height: 40px;
}

.send-message-btn {
  background: #e86500;
  color: white;
  padding: 18px;
  transition: 0.4s;
}

.send-message-btn:hover {
  opacity: 0.7;
  color: white;
}

footer {
  width: 100%;
  height: 120px;
  position: absolute;
  top: 2100px;
  background: #233b51;
}

.contact-icon {
  width: 30px;
  transition: 0.4s;
}

.contact-icon:hover {
  opacity: 0.7;
}

.copywrite {
  color: white;
  font-size: 0.8rem;
}
